#purple {
  background-color: #9EBFF3;
}

table , th , td {
  border: 1px solid black ;
  border-collapse: collapse;
}
#lightblue {
  background-color: #5EFCFC;
}
#brown {
  background-color: #FF960B;
}
#Programming {
  background-color: #8E76C1;
}
#English {
  background-color: #C7759E;
}
#personal {
  background-color: #FFDA68;
}
#gc {
  background-color: #D03824;
}
#fc {
  background-color: #FAFA23;
}
#tt {
  background-color: 3B818D;
}
#Special {
  background-color: #8CC67E;
}
#BC {
  background-color: #C7759E;
}
